<footer class="main-footer">
        <div class="social-links">
            <a href="#" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" aria-label="Behance">
                <i class="fab fa-behance"></i>
            </a>
            <a href="#" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" aria-label="Dribbble">
                <i class="fab fa-dribbble"></i>
            </a>
        </div>
        <p>&copy; 2024 Sophiia Vorona. 
            <span class="lang-content active">Wszelkie prawa zastrzeżone.</span>
            <span class="lang-content">All rights reserved.</span>
            <span class="lang-content">Всі права захищені.</span>
        </p>
    </footer>